.blogs {
    background-image: url("../images/image10.jpg");
}

.container {
    background-color: #eee;
    border: 2px solid #000;
    margin: 50px 100px;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
}

.col {
    margin: 0 15px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;
    img {
        // margin: 0 15px;
    }
  }